<div class="container py-4">
	<div class="h-100 p-5 text-white bg-dark rounded-3">
		<h1 class="mb-4">Workout Lounge</h1>
		<p>Show off your workout to your friends!</p>
		<br/>
		<p class="text-center mt-2">  Demo Login as: </p>

		<p class="text-center">user:   test@example.com </p>
		<p class="text-center">password: password    </p>
	</div>

	<div class="row">
		<div class="col-md-10">
			<h2>List of Members</h2>
		</div>
	</div>
  <div class="row">

		<% @athletes.each do |a| %> 

			<div class="card" style="width: 18rem;"></div>
				<div class="card-body">
					<div class="col-md-10 card member">

						<%= a.full_name %> 

					</div>
				</div>
			</div>

		<% end %> 

	</div>
</div>
