<div class="container py-4">
	<div class="h-100 p-5 text-white bg-dark rounded-3">
		<h1 class="mb-4">Workout Lounge</h1>
		<p>Show off your workout to your friends!</p>
		<br/>
		<p class="text-center mt-2">  Demo Login as: </p>

		<p class="text-center">user:   test@example.com </p>
		<p class="text-center">password: password    </p>
	</div>

  <div class="row">
		<div class="card" style="width: 18rem;"></div>
			<div class="card-body border-top-0">
				<h3 class="card-title mt-2">List of Members</h3>
			</div>
			<ul class="list-group list-group-flush">
				<% @athletes.each do |a| %> 
					<li class="list-group-item"><%= a.full_name %> </li>
				<% end %> 
			</ul>
		</div>
	</div>
</div>
