<div class="container py-4">
	<div class="h-100 p-5 text-white bg-dark rounded-3">
		<h1 class="mb-4">Workout Lounge</h1>
		<p>Show off your workout to your friends</p>
		<p class="text-center mt-2">  Demo Login as: </p>

		<p class="text-center">user:   test@example.com </p>
		<p class="text-center">password: password    </p>
	</div>
   
</div>
